<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Veibelysning i Vanvikbakkan</a></li>
            <li><a href="{{ site.baseurl }}/energiforbruk.html">Energiforbruk</a></li>
            <li><a href="{{ site.baseurl }}/4-prosjektbeskrivelse.html">Teststrekning</a></li>
            <li><a href="{{ site.baseurl }}/5-aktuell-fagteori.html">Aktuelle teknologier</a></li>
            <li><a href="{{ site.baseurl }}/6-miljø-og-nærområder.html">Miljø og nærområder</a></li>
            <li><a href="{{ site.baseurl }}/7-lover-og-forskrifter.html">Regelverk</a></li>
            <li><a href="{{ site.baseurl }}/8-trafikksikkerhet.html">Trafikksikkerhet</a></li>
            <li><a href="{{ site.baseurl }}/9-praktisk-forsøk.html">Praktisk forsøk</a></li>
            <li><a href="{{ site.baseurl }}/10-forskningsspørsmål.html">Aktuelle spørsmål</a></li>
            <li><a href="{{ site.baseurl }}/11-konklusjon.html">Konklusjon</a></li>
            <li><a href="{{ site.baseurl }}/om-oss.html">Om oss</a></li>
        </ul>
    </nav>
</header>