<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">1 Forord</a></li>
            <li><a href="{{ site.baseurl }}/2-sammendrag.html">2 Sammendrag</a></li>
            <li><a href="{{ site.baseurl }}/3-innledning.html">3 Innledning</a></li>
            <li><a href="{{ site.baseurl }}/4-prosjektbeskrivelse.html">4 Prosjektbeskrivelse</a></li>
            <li><a href="{{ site.baseurl }}/5-aktuell-fagteori.html">5 Aktuell fagteori</a></li>
            <li><a href="{{ site.baseurl }}/6-miljø-og-nærområder.html">6 Miljø og nærområder</a></li>
            <li><a href="{{ site.baseurl }}/7-lover-og-forskrifter.html">7 Lover og forskrifter</a></li>
            <li><a href="{{ site.baseurl }}/8-trafikksikkerhet.html">8 Trafikksikkerhet</a></li>
            <li><a href="{{ site.baseurl }}/9-praktisk-forsøk.html">9 Praktisk forsøk</a></li>
            <li><a href="{{ site.baseurl }}/10-forskningsspørsmål.html">10 Forskningsspørsmål</a></li>
            <li><a href="{{ site.baseurl }}/11-konklusjon.html">11 Konklusjon</a></li>
            <li><a href="{{ site.baseurl }}/12-referanser.html">12 Referanser</a></li>
            <li><a href="{{ site.baseurl }}/13-figurliste-og-tabelliste.html">13 Figurliste og tabelliste</a></li>
            <li><a href="{{ site.baseurl }}/14-definisjoner.html">14 Definisjoner</a></li>
            <li><a href="{{ site.baseurl }}/15-vedleggsliste.html">15 Vedleggsliste</a></li>
        </ul>
    </nav>
</header>